body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;

}
header{
    position: fixed;
    width: 100%;
    background-color: #CC0066;
}
.logo{
    width: 1170px;
}
.name{
    color: #ffffff;
    float: left;
}
.icon{
    width: 10%;
    background-color: blue;
    height: 100px;
    float: left;
    margin: 2%;
}
.clear{
    clear: both;
}